@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Francois+One&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Prata&family=Ysabeau+Infant:ital,wght@0,400;0,700;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Domine:wght@400;700&family=Francois+One&family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Prata&family=Ysabeau+Infant:ital,wght@0,400;0,700;0,800;1,1;1,100&display=swap');

.app-all-container{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.titulos-app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #282936;
    font-family: Bebas Neue;
    font-weight: 400;
    
}

.leyendas-app{
    font-size: 10px;
    width:max-content;
    color: #282936
     }
     
.titulo-calendario{
    background-color: #282936;
}